name: Build and push Docker Hub

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        id: build
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ secrets.DOCKERHUB_USERNAME }}/waddle-ws
          tags: |
            latest
            ${{ github.sha }}
          containerfiles: ./Dockerfile

      - name: Push
        uses: redhat-actions/push-to-registry@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          image: ${{ steps.build.outputs.image }}
          tags: ${{ steps.build.outputs.tags }}
